<ul class="adminMenu">
<{foreach item=menu from=$adminMenu}>
<li><a href="<{$menu.link}>"><{$menu.title}></a></li>
<{/foreach}>
</ul>

<div class="adminPage">
<h1><{$smarty.const._MD_XCCK_LANG_CONFIG_PROGRESS_WIZARD}></h1>
<p class="description">
<{$smarty.const._MD_XCCK_DESC_CONFIG_PROGRESS_WIZARD}>
</p>
<form action="index.php" method="POST">
<dl>
  <dt><{$smarty.const._AD_XCCK_LANG_PUBLISH}></dt>
  <dd><select name="use_category"><{foreach item=item from=$list}><option value="<{$item}>"<{if $item==$category}> selected="selected"<{/if}>><{$item}></option><{/foreach}></select></dd>
  <dt><{$smarty.const._AD_XCCK_LANG_THRESHOLD}></dt>
  <dd>
    <{xoops_input type=text name=threshold value=$threshold}>
  </dd>
</dl>
<{xoops_input type=hidden name=action value=ConfigProgressWizard}>
<input type="submit" value="<{$smarty.const._SUBMIT}>" />
</form>
</div>
