<div class="adminPage">
<h1><{$smarty.const._AD_XCCK_LANG_ORDER_SHOW}></h1>
<p class="description">
<{$smarty.const._AD_XCCK_DESC_ORDER_SHOW}>
</p>

<table>
<tr>
<th><{$smarty.const._MD_XCCK_LANG_FIELD_NAME}></th>
<th><{$smarty.const._MD_XCCK_LANG_LABEL}></th>
<th><{$smarty.const._AD_XCCK_LANG_ASC_ORDER_NUMBER}></th>
<th><{$smarty.const._AD_XCCK_LANG_DESC_ORDER_NUMBER}></th>
</tr>

<tr><td>page_id</dt><td><{$smarty.const._MD_XCCK_LANG_PAGE_ID}></td><td>1</td><td>-1</td></tr>
<tr><td>title</dt><td><{$smarty.const._MD_XCCK_LANG_TITLE}></td><td>2</td><td>-2</td></tr>
<tr><td>category_id</dt><td><{$smarty.const._MD_XCCK_LANG_CATEGORY_ID}></td><td>3</td><td>-3</td></tr>
<tr><td>maintable_id</dt><td><{$smarty.const._MD_XCCK_LANG_MAINTABLE_ID}></td><td>4</td><td>-4</td></tr>
<tr><td>p_id</dt><td><{$smarty.const._MD_XCCK_LANG_P_ID}></td><td>5</td><td>-5</td></tr>
<tr><td>descendant</dt><td><{$smarty.const._MD_XCCK_LANG_DESCENDANT}></td><td>6</td><td>-6</td></tr>
<tr><td>uid</dt><td><{$smarty.const._MD_XCCK_LANG_UID}></td><td>7</td><td>-7</td></tr>
<tr><td>weight</dt><td><{$smarty.const._MD_XCCK_LANG_WEIGHT}></td><td>8</td><td>-8</td></tr>
<tr><td>status</td><td><{$smarty.const._MD_XCCK_LANG_STATUS}></td><td>9</td><td>-9</td></tr>
<tr><td>posttime</td><td><{$smarty.const._MD_XCCK_LANG_POSTTIME}></td><td>10</td><td>-10</td></tr>
<tr><td>updatetime</td><td><{$smarty.const._MD_XCCK_LANG_UPDATETIME}></td><td>11</td><td>-11</td></tr>

<{foreach item=definition from=$definitions}>
<tr>
<td><{$definition->getShow('field_name')}></td>
<td><{$definition->getShow('label')}></td>
<td><{$definition->get('definition_id')+2}></td>
<td>-<{$definition->get('definition_id')+2}></td>
</tr>
<{/foreach}>
</table>
</div>
