<div class="xcck">
<{include file="db:`$dirname`_inc_menu.html" isSubtable=$isSubtable}>

<h1><{$xoops_modulename}> <{$smarty.const._MD_XCCK_LANG_DEFINITION}> <{$smarty.const._LIST}></h1>
<p class="description"><{$smarty.const._MD_XCCK_DESC_DEFAULT_FIELDS}></p>
<{if count($objects) > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
  <table class="outer list" summary="">
    <thead>
      <tr>
        <th>
          <{$smarty.const._MD_XCCK_LANG_FIELD_NAME}>
        </th>
        <th>
          <{$smarty.const._MD_XCCK_LANG_LABEL}>
        </th>
        <th>
          <{$smarty.const._MD_XCCK_LANG_FIELD_TYPE}>
        </th>
        <th>
          <{$smarty.const._MD_XCCK_LANG_WEIGHT}>
        </th>
        <th><{$smarty.const._MD_XCCK_LANG_CONTROL}></th>
      </tr>
    </thead>
    <tbody>
      <{foreach item=obj from=$objects}>
        <tr class="<{cycle values='odd,even'}>">
          <td><a href="<{xoops_cooluri dirname=$dirname dataname=definition data_id=$obj->getShow('definition_id')}>"><{$obj->getShow('field_name')}></a></td>
          <td><{$obj->getShow('label')}></td>
          <td><{$obj->getShow('field_type')}></td>
          <td><{$obj->getShow('weight')}></td>
          <td>
            <a href="<{xoops_cooluri dirname=$dirname dataname=definition data_id=$obj->getShow('definition_id') action=edit}>"><{$smarty.const._EDIT}></a>
            <a href="<{xoops_cooluri dirname=$dirname dataname=definition data_id=$obj->getShow('definition_id') action=delete}>"><{$smarty.const._DELETE}></a>
          </td>
        </tr>
      <{/foreach}>
    </tbody>
  </table>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
</div>
