<div class="xcck">
<div class="page-header">
  <h1><{$smarty.const._MD_XCCK_LANG_DEFINITION_DELETE}></h1>
</div>
<div class="alert alert-warning"><{$smarty.const._MD_XCCK_MESSAGE_CONFIRM_DELETE}></div>

<form class="form-horizontal" action="<{xoops_cooluri dirname=$dirname dataname=definition action=delete}>" method="post">
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_DEFINITION_ID}></label>
    <div class="controls"><{$object->getShow('definition_id')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_FIELD_NAME}></label>
    <div class="controls"><{$object->getShow('field_name')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_LABEL}></label>
    <div class="controls"><{$object->getShow('label')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_FIELD_TYPE}></label>
    <div class="controls"><{$object->getShow('field_type')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_VALIDATION}></label>
    <div class="controls"><{$object->getShow('validation')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_REQUIRED}></label>
    <div class="controls"><{$object->getShow('required')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_WEIGHT}></label>
    <div class="controls"><{$object->getShow('weight')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_DESCRIPTION}></label>
    <div class="controls"><{$object->getShow('description')}></div>
    <label class="control-label"><{$smarty.const._MD_XCCK_LANG_OPTIONS}></label>
    <div class="controls"><{$object->getShow('options')}></div>
    <div class="form-actions">
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=definition_id value=$actionForm->get('definition_id')}>
        <button type="submit" class="btn btn-primary"><{$smarty.const._DELETE}></button>
        <button type="submit" class="btn" name="_form_control_cancel" value="cancel"><{$smarty.const._CANCEL}></button>
    </div>
</form>
<{include file="db:`$dirname`_inc_menu.html" isSubtable=$isSubtable}>
</div>
