<div class="xcck">

<div class="media">
  <div class="page-header">
    <h1>
      <{$object->getShow('title')}>
      <{if $accessController->isEditor($object->get('category_id'), $object->get('uid'))===true}>
        <a class="btn btn-small" href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$object->getShow('page_id') action=edit}>"><i class="icon-pencil"> <{$smarty.const._EDIT}></i></a>
        <a class="btn btn-small" href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$object->getShow('page_id') action=delete}>"><i class="icon-trash"></i> <{$smarty.const._DELETE}></a>
        <a class="btn btn-small" href="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit query="p_id="|cat:$object->get('page_id')}>"><{$smarty.const._MD_XCCK_LANG_DESCENDANT}><{$smarty.const._ADD}></a>
      <{/if}>
    </h1>
  </div><!-- .page-header -->
  <ul class="inline media-info">
    <li><i class="icon-user"></i> <{$object->getShow('uid')|xoops_user:'user_name'}></li>
    <!-- tag -->
    <{if count($object->mTag)>0}>
    <li class="tag-list"><span class="label"><{$smarty.const._TAG}></span>
    <{foreach item=tag from=$object->mTag}>
     <{assign var=tagurl value=$tag|xoops_escape:url}>
      <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname query="tag=`$tag`"}>"><{$tag|xoops_escape}></a>
    <{/foreach}>
    </li>
    <{/if}>

    <{if $object->get('status')==constant('Lenum_WorkflowStatus::PROGRESS')}>
    <li><{$smarty.const._MD_XCCK_MESSAGE_STATUS_POSTED}></li>
    <{/if}>
    <li><span class="label"><{$smarty.const._MD_XCCK_LANG_POSTTIME}></span>
    <{$object->getShow('posttime')|xoops_formattimestamp:m}></li>
    <{if $catTitle}>
    <li><span class="label"><{$smarty.const._MD_XCCK_LANG_CATEGORY_ID}></span>
    <{$catTitle|xoops_escape}></li>
    <{/if}>
  </ul><!-- .media-info -->
  <div class="media-body">
    <table class="table">
      <tbody>
      <!--
        if you want to show field outside foreach loop, you can write down 
        like below (when the field's name is "memo").
        <dt>< {$definitions.memo->get('field_name')} ></dt>
        <dd>< {$object->showField($definitions.memo->get('field_name'))} ></dd>
      -->
      <{foreach item=definition from=$definitions}>
      <{if $definition->get('field_type')!='startdate' && $definition->get('field_type')!='enddate'}>
      <tr>
      <th class="span3"><{$definition->getShow('label')}></th>
      <td>
        <{if $definition->get('field_type')=='checkbox'}>
        <ul>
          <{assign var=titleArr value=$object->showField($definition->get('field_name'))}>
          <{foreach item=option from=$titleArr.checked}>
          <li><{$option}></li>
          <{/foreach}>
        </ul>
        <{else}>
          <{$object->showField($definition->get('field_name'))}>
        <{/if}>
      </td>
      </tr>
      <{/if}>
      <{/foreach}>
      </tbody>
    </table>
  </div><!-- .itemBody -->
</div><!-- .media -->

<!-- image list -->
<{if count($imageObjs)>0}>
<div class="imageList">
  <h2><{$smarty.const._MD_XCCK_LANG_IMAGE_LIST}></h2>
  <dl>
    <{foreach item=imageName from=$imageNameList key=n}>
      <td><{$imageName}></td>
      <dd>
        <{$imageObjs[$n]->makeImageTag()}><br />
      </dd>
    <{/foreach}>
  </dl>
</div><!-- .imageList -->
<{/if}>

<{if $useMap}>
<!-- Map -->
<{legacy_map_view dirname=$dirname dataname=$dataname data_id=$object->get('page_id') template=lemap_inc_view.html}>
<{/if}>

<!-- tree of contents -->
<{if $isHierarchical==1}>
<div class="pageTree">
  <h2><{$smarty.const._MD_XCCK_LANG_PAGE_TREE}></h2>
  <{foreach item=page from=$pageTree name=pageTree}>
  <{if $smarty.foreach.pageTree.first}><{assign var=d value=$page->getDepth()}><{/if}>
  <{if $smarty.foreach.pageTree.first || $d < $page->getDepth()}>
    <ul class="catL<{$page->getDepth()}>">
      <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$page->getShow('page_id')}>"><{$page->getShow('title')}></a></li>
  <{elseif $d==$page->getDepth()}>
      <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$page->getShow('page_id')}>"><{$page->getShow('title')}></a></li>
  <{else}>
    <{section name=i start=0 loop=$d-$page->getDepth()}>
    </ul>
    <{/section}>
      <li><a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$page->getShow('page_id')}>"><{$page->getShow('title')}></a></li>
  <{/if}>
  <{if $smarty.foreach.pageTree.last}>
    <{section name=i start=0 loop=$page->getDepth()}>
    </ul>
    <{/section}>
  <{/if}>
  <{assign var=d value=$page->getDepth()}>
  <{/foreach}>
</div><!-- .pageTree -->
<{/if}>

<!-- subtable list -->
<{foreach item=subtable from=$subtableArr}>
<{assign var=cdirname value=$subtable.dirname}>
<h2><{$subtable.name}></h2>
<table class="table">
  <tr>
    <th><{$smarty.const._MD_XCCK_LANG_TITLE}></th>
    <{foreach item=def from=$definitionArr.$cdirname}>
    <th><{$def->getShow('field_name')}></th>
    <{/foreach}>
  </tr>
  <{foreach item=page from=$pageArr.$cdirname}>
  <{assign var=subtableId value=$page->getShow('page_id')}>
  <tr>
    <td><a href="<{xoops_cooluri dirname=$cdirname dataname=page data_id=$subtableId}>"><{$page->getShow('title')}></a> [<a href="<{xoops_cooluri dirname=$cdirname dataname=subtable data_id=$subtableId action=edit}>"><{$smarty.const._EDIT}></a>]</td>
    <{foreach item=def from=$definitionArr.$cdirname}>
    <td><{$page->showField($def->getShow('field_name'))}></td>
    <{/foreach}>
  </tr>
  <{/foreach}>
</table>
<ul>
<li><a class="btn" href="<{xoops_cooluri dirname=$cdirname dataname=subtable action=edit query='maintable_id='|cat:$object->getShow('page_id')}>"><i class="icon-pencil"></i> <{$smarty.const._MD_XCCK_LANG_ADD_A_NEW_PAGE}></a></li>
</ul>
<{/foreach}>

<!-- comment module -->
<{if $commentDirname}>
  <{legacy_comment cDirname=$commentDirname dirname=$dirname dataname=$dataname data_id=$object->get('page_id') category_id=$object->get('category_id') title=$object->get('title')}>
<{/if}>

<{include file="db:`$dirname`_inc_menu.html" isSubtable=$isSubtable isPoster=$accessController->isPoster()}>

</div>
