<div class="xcck">
<{include file="db:`$dirname`_inc_menu.html" isSubtable=$isSubtable isPoster=$accessController->isPoster()}>

<h1><{$xoops_modulename}> <{$smarty.const._EDIT}></h1>
<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<form action="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>" method="post"<{if $imageNameList|count > 0}> enctype="multipart/form-data"<{/if}>>
  <table class="outer edit">
    <tr>
      <th class="required"><{$smarty.const._MD_XCCK_LANG_TITLE}></th>
      <td>
        <{xoops_input type=text name=title value=$actionForm->get('title') size=50 maxlength=255}>
      </td>
    </tr>
    <{if $categoryType===true && $object->get('p_id')==0}>
    <tr>
      <th class="required"><{$smarty.const._MD_XCCK_LANG_CATEGORY_ID}></th>
      <td>
        <select name="category_id">
        <{legacy_category_select tree=$mainCatTree selectedValue=$object->getShow('category_id')}>
        </select>
      </td>
    </tr>
    <{else}>
      <{xoops_input type=hidden name=category_id value=$actionForm->get('category_id')}>
    <{/if}>
    <{if $defaultOrder==8}>
    <tr>
      <th><{$smarty.const._MD_XCCK_LANG_WEIGHT}></th>
      <td>
        <{xoops_input type=text name=weight value=$actionForm->get('weight') size=10 maxlength=3}>
      </td>
    </tr>
    <{else}>
        <{xoops_input type=hidden name=weight value=$actionForm->get('weight')}>
    <{/if}>
    <{foreach item=definition from=$fields}>
    <tr>
      <th<{if $definition->get('required')==true}> class="required"<{/if}>><{$definition->getShow('label')}></th>
      <td>
        <{if $definition->get('field_type')=="string"}>
        <{xoops_input type=text name=$definition->get('field_name') value=$actionForm->get($definition->get('field_name'))  size=40 maxlength=255}>
        <{elseif $definition->get('field_type')=="int"}>
        <{xoops_input type=text name=$definition->get('field_name') value=$actionForm->get($definition->get('field_name')) size=15 maxlength=11}>
        <{elseif $definition->get('field_type')=="uri"}>
        <{xoops_input type=text name=$definition->get('field_name') value=$actionForm->get($definition->get('field_name')) size=40}>
        <{elseif $definition->get('field_type')=="text"}>
          <{xoops_dhtmltarea type=text name=$definition->get('field_name') value=$actionForm->get($definition->get('field_name')) editor=$definition->mFieldType->getOption($definition, 'editor')}>
        <{elseif $definition->get('field_type')=="date"||$definition->get('field_type')=="startdate"||$definition->get('field_type')=="enddate"}>
          <{assign var=fieldName value=$definition->get('field_name')}>
          <{assign var=datetime value=$actionForm->get($definition->get('field_name'))}>
          <{if $definition->get('field_type')=="startdate"||$definition->get('field_type')=="enddate"}>
          <label><input type="checkbox" name="enable_<{$fieldName}>" class="enableDate" id="enable_<{$fieldName}>" value="1"<{if $actionForm->get('enable_'|cat:$fieldName)}> checked="checked"<{/if}>/><{$smarty.const._MD_XCCK_DESC_ENABLE_DATE}></label>
          <{/if}>
          <div id="date-<{$fieldName}>">
          <{xoops_input type=text name=$fieldName|cat:'[0]' class=datepicker value=$datetime[0]}>
          <{if $definition->get('options')=='hour'}>
          <select name="<{$definition->get('field_name')}>[1]">
            <{foreach item=hour from=$hours}><option value="<{$hour}>"<{if $hour==$datetime[1]}> selected="selected"<{/if}>><{$hour}></option><{/foreach}>
          </select>
          <{elseif in_array($definition->get('options'),array('half','quarter','10min','min'))}>
          <select name="<{$definition->get('field_name')}>[1]">
            <{foreach item=hour from=$hours}><option value="<{$hour}>"<{if $hour==$datetime[1]}> selected="selected"<{/if}>><{$hour}></option><{/foreach}>
          </select>
          <select name="<{$definition->get('field_name')}>[2]">
            <{foreach item=minute from=$definition->getMinuteOption()}><option value="<{$minute}>"<{if $minute==$datetime[2]}> selected="selected"<{/if}>><{$minute}></option><{/foreach}>
          </select>
          <{/if}>
          </div>
        <{elseif $definition->get('field_type')=="checkbox"}>
            <{assign var=fieldname value=$definition->get('field_name')}>
            <{assign var=valueArr value=$actionForm->get($definition->get('field_name'))}>
            <{foreach item=opt from=$definition->mFieldType->getOption($definition, 'title') key=k}>
            <label><{xoops_input type=checkbox name=`$fieldname`[$k] value=2|pow:$k default=$valueArr[$k]}><{$opt}></label>
            <{/foreach}>
        <{elseif $definition->get('field_type')=="selectbox"}>
          <select name="<{$definition->get('field_name')}>" id="legacy_xoopsform_<{$definition->get('field_name')}>">
            <{foreach item=option from=$definition->getOptions()}>
            <option value="<{$option}>"<{if $actionForm->get($definition->get('field_name'))==$option}> selected="selected"<{/if}>><{$option}></option>
            <{/foreach}>
          </select>
        <{elseif $definition->get('field_type')=="category"}>
          <{assign var=fieldName value=$definition->get('field_name')}>
          <select name="<{$definition->get('field_name')}>">
          <{legacy_category_select tree=$catTree.$fieldName selectedValue=$object->getShow($definition->get('field_name')) show="all"}>
          </select>
        <{/if}>
        <!-- description for this field -->
        <{if $definition->get('description')}>
          <p class="description"><{$definition->getShow('description')}></p>
        <{/if}>
      </td>
    </tr>
    <{/foreach}>

    <!-- tag -->
    <{if $useTag===true}>
    <tr>
      <th><{$smarty.const._TAG}></th>
      <td>
        <{xoops_input type=text name=tags value=$actionForm->get('tags')}>
        <{legacy_tag_select tDirname=$tag_dirname tags=$object->mTag}>
      </td>
    </tr>
    <{/if}>

    <!-- Image -->
    <{foreach item=imageKey from=$imageNameList key=n}>
    <tr>
      <th><{$imageNameList[$n]}></th>
      <td>
        <{if $imageObjs[$n] && $imageObjs[$n]->isNew()===false}>
        <{xoops_input type="checkbox" name="legacy_image_delete[$n]" value="1"}>
        <{$imageObjs[$n]->makeImageTag()}><br />
        <{/if}>
        <{xoops_input type="file" name="legacy_image[$n]" size="30"}>
        <{xoops_input type="hidden" name="legacy_image_id[$n]" value=$imageObjs[$n]->getShow('image_id')}>
      </td>
    </tr>
    <{/foreach}>

    <!-- MAP -->
    <{if $useMap===true}>
    <tr>
      <th><{$smarty.const._MD_XCCK_LANG_MAP}></th>
      <td><{legacy_map_edit dirname=$dirname dataname=$dataname data_id=$object->get('page_id') template=lemap_inc_edit.html}></td>
    </tr>
    <{/if}>
  
    <tr>
      <td colspan="2">
        <{xoops_token form=$actionForm}>
        <{xoops_input type=hidden name=page_id value=$actionForm->get('page_id')}>
        <{xoops_input type=hidden name=p_id value=$actionForm->get('p_id')}>
        <{xoops_input type=hidden name=maintable_id value=$actionForm->get('maintable_id')}>
        <{xoops_input type=hidden name=descendant value=$actionForm->get('descendant')}>
        <input type="submit" value="<{$smarty.const._SUBMIT}>"<{if $usePreview===true}> name="_form_control_confirm"<{/if}> />
        <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
      </td>
    </tr>
  </table>
</form>
</div>
