<div class="xcck">
<div class="page-header">
  <h1><{$xoops_modulename}> <{$smarty.const._LIST}></h1>
</div>
<{if $moduleDescription}>
<div><{$moduleDescription}></div>
<{/if}>

<{if count($objects) > 0}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
  <{foreach item=obj from=$objects}>
  <dl class="item">
    <dt class="itemTitle">
      <{if $obj->getShow('status')<9}><span class="status" title="<{$obj->getShowStatus()}>">*</span> <{/if}><a href="<{xoops_cooluri dirname=$dirname data_id=$obj->getShow('page_id')}>"><{$obj->getShow('title')}></a>
      <{if $accessController->isEditor($obj->get('category_id'), $obj->get('uid'))}>
      <a href="<{xoops_cooluri dirname=$dirname dataname=$editPageName data_id=$obj->getShow('page_id') action=edit}>"><img src="<{$xoops_url}>/images/icons/edit.gif" alt="<{$smarty.const._EDIT}>" /></a>
      <a href="<{xoops_cooluri dirname=$dirname dataname=$dataname data_id=$obj->getShow('page_id') action=delete}>"><img src="<{$xoops_url}>/images/icons/delete.gif" alt="<{$smarty.const._DELETE}>" /></a>
      <{/if}>
    </dt>
    <dd class="itemInfo">
      <{if $catTitleList}>
      <{assign var="catId" value=$obj->get('category_id')}>
      <span class="itemStat"><{$catTitleList.$catId|xoops_escape}></span>
      <{/if}>
      <span class="itemPoster"><{$obj->getShow('uid')|xoops_user:"user_name"}></span>
      <span class="itemPostDate"><{$obj->get('posttime')|xoops_formattimestamp:s}></span>
    </dd>
    <!--
      if you want to show field outside foreach loop, you can write down 
      like below (when the field's name is "memo").
      <dd>< {$obj->showField($definitions.memo->get('field_name'))} ></dd>
    -->
    <{foreach item=def from=$definitions}>
    <{if $def->get('field_type')=='checkbox'}>
    <dd>
      <ul>
        <{assign var=titleArr value=$obj->showField($def->get('field_name'))}>
        <{foreach item=option from=$titleArr.checked}>
        <li><{$option}></li>
        <{/foreach}>
      </ul>
    </dd>
    <{else}>
    <dd class="itemBody"><{$obj->showField($def->getShow('field_name'))}></dd>
    <{/if}>
    <{/foreach}>
  </dl>
  <{/foreach}>
  <div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<{/if}>
<{include file="db:`$dirname`_inc_menu.html" isSubtable=false isPoster=$accessController->isPoster()}>
</div>
