<{include file="`$smarty.const.XOOPS_THEME_PATH`/`$xoops_theme`/templates/`$dirname`_page_view.html" isPreview=true}>


<form action="<{xoops_cooluri dirname=$dirname dataname=$dataname action=edit}>" method="post" enctype="multipart/form-data">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=title value=$actionForm->get('title')}>
  <{xoops_input type=hidden name=category_id value=$actionForm->get('category_id')}>
  <{xoops_input type=hidden name=p_id value=$actionForm->get('p_id')}>
  <{xoops_input type=hidden name=weight value=$actionForm->get('weight')}>
  <{xoops_input type=hidden name=tags value=$actionForm->get('tags')}>
  <{xoops_input type=hidden name=page_id value=$actionForm->get('page_id')}>
  <{xoops_input type=hidden name=maintable_id value=$actionForm->get('maintable_id')}>
  <{xoops_input type=hidden name=descendant value=$actionForm->get('descendant')}>

  <{foreach item=definition from=$fields}>
  <{elseif in_array($definition->get('field_type'), array('startdate', 'enddate'))}>
  <{assign var=fieldName value=$definition->get('field_name')}>
  <{assign var=enableFieldName value='enable_'|cat:$definition->get('field_name')}>
  <{xoops_input type=hidden name=`$enableFieldName` value=$actionForm->get($enableFieldName)}>
  <{xoops_input type=hidden name=`$fieldName`[0] value=$actionForm->get($fieldName, 0)}>
  <{xoops_input type=hidden name=`$fieldName`[1] value=$actionForm->get($fieldName, 1)}>
  <{xoops_input type=hidden name=`$fieldName`[2] value=$actionForm->get($fieldName, 2)}>
  <{else}>
  <{xoops_input type=hidden name=$definition->get('field_name') value=$actionForm->get($definition->get('field_name'))}>
  <{/if}>
  <{/foreach}>

  <{foreach item=imageKey from=$imageNameList key=m}>
  <{xoops_input type="hidden" name="legacy_preview_filename[$m]" value=$imageObjs[$m]->getFilename()}>
  <{xoops_input type="hidden" name="legacy_image_id[$m]" value=$imageObjs[$m]->getShow('image_id')}>
  <{xoops_input type="hidden" name="legacy_image_delete[$m]" value=$smarty.post.legacy_image_delete[$m]}>
  <{/foreach}>
  <div class="admin-block-btn">
    <button type="submit" class="btn--edit"><{$smarty.const._SUBMIT}></button>
    <button type="submit" class="btn--cancel" name="_form_control_preview_cancel" value="cancel"><{$smarty.const.THEME_BUTTON_EDIT_AGAIN}></button>
  </div>
</form>
